%div{:id=>"node-#{@node_rev.nid}",:class=>"node"}
  %div{:class=>"node-header"}
    = "Posted by <strong>#{@node_rev.user.name}</strong> on #{@node_rev.posted_at}"
  %div{:class=>"node-title"}
    %h3
      = @node_rev.title
  %div{:class=>"node-body"}
    = @node_rev.body
  %hr
  %div{:class=>"node-comments"}
    - @node_rev.node.comments.each do |c|
      %div{:class=>"node-comment"}
        %div
          = "Posted by <strong>#{c.user.name}</strong> on #{c.posted_at}"
        %div
          = c.comment
      %hr
