%div{:class=>"breadcrumb"}
  %h3
    - unless @year.nil?
      %span
        %a{:href=>"/#{@year}"} #{@year}
    - unless @month.nil?
      %span
        &#47;
        %a{:href=>"/#{@year}/#{@month}"} #{@month}

%div{:class=>"content"}
  - @years.each do |y|
    %div{:class=>"post"}
      %a{:href=>"/tracker/#{y}"}
        %h2
          = y

  - @nodes.each do |n|
    %div{:class=>"post"}
      %a{:href=>"/node/#{n.id}"}
        = n.title

  - unless @year.nil?
    %div{:class=>"post"}
      %ul{:style=>"list-style-type:none;"}
        - @months.each do |m|
          %li
            %a{:href=>"/tracker/#{@year}/#{m}"}
              %h2
                = m
		