%div{:class => "search"}
  %h3
    %form{:method => "GET", :action => "/archive"}
      %input{:type => "text", :name => "q"}
      %input{:type => "submit", :value => "Search"}

%div{:class => "breadcrumb"}
  %h3
    - unless @year.nil?
      %span
        %a{:href=>"/archive"} archive
        &#47;
        %a{:href=>"/archive/#{@year}"} #{@year}
    - unless @month.nil?
      %span
        &#47;
        %a{:href=>"/archive/#{@year}/#{@month}"} #{@month}

%div{:class=>"content"}
  - @years.each do |y|
    %div{:class=>"post"}
      %a{:href=>"/archive/#{y}"}
        %h2
          = y

  - @nodes.each do |n|
    %div{:class=>"post"}
      %a{:href=>"/nodes/#{n[:nid]}"}
        = n[:title]

  - unless @year.nil?
    %div{:class=>"post"}
      %ul{:style=>"list-style-type:none;"}
        - @months.each do |m|
          %li
            %a{:href=>"/archive/#{@year}/#{m}"}
              %h2
                = m
