%div{:class=>"breadcrumb"}
  %h3
    - unless @year.nil?
      %span
        %a{:href=>"/tracker"} tracker
        &#47;
        %a{:href=>"/tracker/#{@year}"} #{@year}
    - unless @month.nil?
      %span
        &#47;
        %a{:href=>"/tracker/#{@year}/#{@month}"} #{@month}
    - unless @day.nil?
      %span
        &#47;
        %a{:href=>"/tracker/#{@year}/#{@month}/#{@day}"} #{@day}

%div{:id=>"node-#{@node_rev[:nid]}",:class=>"node"}
  %div{:class=>"node-header"}
    Posted by <strong>#{@user[:name]}</strong> on #{Time.at(@node_rev[:timestamp])}
  %div{:class=>"node-title"}
    %h3
      = @node_rev[:title]
  %div{:class=>"node-body"}
    = "#{@node_rev[:body].bbcode_to_html}"
  %hr
  %div{:class=>"node-comments"}
    - @comments.each do |c|
      %div{:class=>"node-comment"}
        %div
          Posted by <strong>#{c[:name]}</strong> on #{Time.at(c[:timestamp])}
        %div
          = c[:comment].bbcode_to_html
      %hr
