%div{:class=>"breadcrumb"}
  %h3
    - unless @year.nil?
      %span
        %a{:href=>"/archive"} archive
        &#47;
        %a{:href=>"/archive/#{@year}"} #{@year}
    - unless @month.nil?
      %span
        &#47;
        %a{:href=>"/archive/#{@year}/#{@month}"} #{@month}
    - unless @day.nil?
      %span
        &#47;
        %a{:href=>"/archive/#{@year}/#{@month}/#{@day}"} #{@day}

%div{:id=>"node-#{@node_rev[:nid]}",:class=>"node"}
  %div{:class=>"node-header"}
    - if @user[:name] == "tgl"
      Posted by <a href="https://tgl.rideside.net"><strong>#{@user[:name]}</strong></a> on #{Time.at(@node_rev[:timestamp])}
    - else
      Posted by <strong>#{@user[:name]}</strong> on #{Time.at(@node_rev[:timestamp])}
  %div{:class=>"node-title"}
    %h3
      = @node_rev[:title]
  %div{:class=>"node-body"}
    != @node_rev[:body]
  %hr
  %div{:class=>"node-comments"}
    - @comments.each do |c|
      %div{:class=>"node-comment"}
        %div
          - if c[:name] == "tgl"
            Posted by <a href="https://tgl.rideside.net"><strong>tgl</strong></a> on #{Time.at(c[:timestamp])}
          - else
            Posted by <strong>#{c[:name]}</strong> on #{Time.at(c[:timestamp])}
        %div
          != c[:comment]
      %hr
